.container{
    
    text-align:center;
    margin-top:40px;
}

.container h1{
    font-size:32px;
    margin-bottom:5px;
}

.subtitle{
    color:#64748b;
    margin-bottom:30px;
}

/* Card */
.card{
    background:white;
    width:400px;
    margin:auto;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    text-align:left;
}

.card label{
    font-weight:600;
    font-size:14px;
}

.input-box{
    display:flex;
    align-items:center;
    background:#f1f5f9;
    padding:10px;
    border-radius:12px;
    margin:8px 0 18px;
}

.input-box input{
    border:none;
    background:transparent;
    outline:none;
    flex:1;
    margin-left:8px;
}

.eye{
    cursor:pointer;
}

small{
    color:#64748b;
    font-size:12px;
}

/* Button */
.btn{
    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:25px;
    background:linear-gradient(90deg,#2563eb,#1d4ed8);
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size:16px;
}

.btn:hover{
    opacity:0.9;
}

.terms{
    font-size:12px;
    color:#64748b;
    margin-top:15px;
    text-align:center;
}

.terms a{
    color:#2563eb;
    text-decoration:none;
}